@font-face {
    font-family: 'Source Sans Regular';
    src: url("fonts/source-sans-pro/SourceSansPro-Regular.otf");
}

@font-face {
    font-family: 'Source Sans Light';
    src: url("fonts/source-sans-pro/SourceSansPro-Light.otf");
}

@font-face {
    font-family: 'Source Sans Bold';
    src: url("fonts/source-sans-pro/SourceSansPro-Bold.otf");
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url("fonts/open-sans/OpenSans-Regular.ttf");
}

body {
    font-family: 'Source Sans Regular';
    color: #001217;
}

main {
    position: fixed;
    left: 200px;
    top: 80px;
    padding: 20px 60px;
}
