.image-avatar {
	background-image: url('/user-photo.jpg');
}

.profile-button {
	padding: 5px;
	font-size: 24px;
	color: #888;
}

.profile-button:hover {
	border: 1px solid #BBB;
	border-radius: 4px;
}

.user-profile .user {
	height: 230px;
	padding-top: 18px;
	background-color: #DDD;
}

.user-profile .container {
	margin: 0 auto;
	width: 900px;
}

.user-profile .user .user-image {
	float: left;
}

.user-profile .user .user-image img {
	margin-right: 20px;
	border: 5px solid #FFF;
	box-shadow: 1px 1px 3px #BBB;
}

.user-profile .user .user-meta {
	float: left;
}

.user-profile .user .user-meta .user-handle {
	display: inline-block;
	margin-bottom: 10px;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 32px;
}

.user-profile .user .social li {
	display: inline;
}

.user-profile .user .user-meta ul {
	margin-top: 25px;
	padding-left: 0;
	list-style: none;
}

.user-profile .user .user-meta ul li {
	margin-bottom: 20px;
}

.user-profile .user .user-meta .user-team a {
	text-decoration: none;
	text-transform: uppercase;
	color: #6885CF;
}

.user-profile .user .user-meta .user-team a:hover {
	text-decoration: underline;
}

.user-profile .user-actions {
	display: block;
	margin-top: 15px;
}

.user-profile .game {
	height: 230px;
	padding-top: 18px;
	background-color: #CCC;
}

.user-profile .game ul {
	list-style: none;
	padding-left: 0;
}

.user-profile .game ul li {
	margin-bottom: 20px;
}