.AccountForms {
	margin: 30px auto;
	width: 430px;
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 20px;
}

.AccountForms h2 {
	height: 20px;
	margin-bottom: 20px;
}

.AccountForms p {
	margin: -10px 0 25px 0;
	line-height: 18px;
}

.AccountForms input {
	padding: 0 5px;
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
	border-radius: 2px;
	border: none;
	outline: none;
	font-size: 18px;
	border: 1px solid #CCC;
}

.AccountForms label span {
	font-style: italic;
}

.AccountForms input:focus {
	border: 1px solid #616F93;
}

.AccountForms-group {
	margin-bottom: 10px;
	width: 97%;
}

.AccountForms-group label {
	display: block;
	margin-top: 5px;
	height: 10px;
}

.AccountForms .AccountForms-halfInput {
	display: inline-block;
	width: 48%;
}

.AccountForms--button {
	margin-right: 10px;
	height: 40px;
	width: 250px;
	padding: 10px;
	border: 1px solid #616FAA;
	background-color: #616F93;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	color: #EEE;
}

.AccountForms--button:active {
	background-color: #7482A5;
}

.AccountsForms--forgotPass {
	color: #333;
}

.FormError {
	margin-bottom: 20px;
	width: 100%;
	height: 40px;
	border: 1px solid #CCC;
	border-radius: 2px;
	background-color: #DDD;
}

.FormError p {
	margin: 0 0;
	padding-left: 10px;
	color: #D37777;
	line-height: 40px;
}